<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="description" content="テロの歴史を振り返るサイト">

    <meta name = "apple-mobile-web-app-copable" content = "yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "black-translucent">
    <meta name="copyright" content="&copy; hyde2able">
    <meta name="author" content="hyde2able">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Mustn't Forget</title>
    
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">
    <link rel="stylesheet" type="text/css" href="css/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!--&#91;if lt IE 9&#93;>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!&#91;endif&#93;-->

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamaps.world.js"></script>
    <script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="js/jname.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/timeline.js"></script>
</head>


<body>
    <section class="header">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/logo.png" style="margin: 0 auto;">
                <button type="button" class="btn btn-default btn-circle" id="info" data-toggle="modal" data-target="#infomodal"><b>i</b></button>
                <%- partial('info') %>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <section class="world">
                <div id="switch">
                    <button type="button" class="btn btn-default btn-sm off"></button>
                </div>
                <div id="world" style="position: relative; width: 100%; height: 500px;"></div>
            </section>
        </div>

        <div class="col-sm-12 col-md-4">

            <section class="timeline">
                <h1>livedoorニュース</h1>
                <div>
                    <ul class="timeline">
                        <% articles.forEach(function(article) { %>
                            <li class="event timeline--active" data-date="<%= article.time %>">
                                <p><%= article.p || article.title %></p>
                                <a href="<%= article.href %>" target="_blank">参考</a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </section>

        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg" id="button" data-toggle="modal" data-target="#form">追加する</button>
    <%- partial('form') %>

    <section class="footer">
            <hr>
            <p>&copy; 2015 hyde2able ( hyde14142@gmail.com )</p>
    </section>
    <div id="ip" data-ip="<%= ip %>" style="display: none;"></div>

</body>
</html>