<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta name="description" content="世界で起きているテロを知るプラットフォーム">
    <meta name="Keywords" content="テロ,世界,地図,死亡者数,プラットフォーム" />

    <meta name = "apple-mobile-web-app-copable" content = "yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "black-translucent">
    <meta name="copyright" content="&copy; hyde2able">
    <meta name="author" content="hyde2able">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="shortcut icon" href="ico/favicon.ico" >
    <title>Mustn't Forget</title>

    <meta property="og:title" content="Mustn't Forget" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://must-not-forget.herokuapp.com/" />
    <meta property="og:image" content="https://photos.google.com/search/_tra_/photo/AF1QipO91-6ey5S3OHF1xSPNFdyt0iNwOTVu9RWc5BRT" />
    <meta property="og:site_name" content="忘れてはならない" />
    <meta property="og:description" content="世界で起きているテロの規模や概要を知る簡易プラットフォーム" />

    <meta property="fb:app_id" content="1078737468811171" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hyde141421356">
    
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">
    <link rel="stylesheet" type="text/css" href="css/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!--&#91;if lt IE 9&#93;>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!&#91;endif&#93;-->

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamaps.world.js"></script>
    <script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="js/jname.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/timeline.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71123616-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
        appId      : '1078737468811171',
        xfbml      : true,
        version    : 'v2.5'
        });
    };

    (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</head>


<body>
    <section class="header">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/logo.png" style="margin: 0 auto;">
                <button type="button" class="btn btn-default btn-circle" id="info" data-toggle="modal" data-target="#infomodal"><b>i</b></button>
                <%- partial('info') %>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <section class="world">
                <div id="switch">
                    <button type="button" class="btn btn-default btn-sm off"></button>
                </div>
                <div id="world" style="position: relative; width: 100%; height: 500px;"></div>
            </section>
        </div>

        <div class="col-sm-12 col-md-4">

            <section class="timeline">
                <h1>livedoorニュース</h1>
                <div>
                    <ul class="timeline">
                        <% articles.forEach(function(article) { %>
                            <li class="event timeline--active" data-date="<%= article.time %>">
                                <p><%= article.p || article.title %></p>
                                <a href="<%= article.href %>" target="_blank">参考</a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </section>

        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg" id="button" data-toggle="modal" data-target="#form">追加する</button>
    <%- partial('form') %>


    <section class="footer">
            <hr>
            <p>&copy; 2015 pokohide ( hyde14142@gmail.com )</p>
    </section>
    <div id="ip" data-ip="<%= ip %>" style="display: none;"></div>

</body>
</html>